<div class="container">
  <div class="row">
    <div class="col-sm">

      <div class="card my-3">
       <app-pedir-plato></app-pedir-plato>
      </div>

      <div class="card my-3">
        <app-ingrediente-bodega></app-ingrediente-bodega>
      </div>

      <div class="card my-3">
       <app-historial-ingredientes-bodega></app-historial-ingredientes-bodega>
      </div>


    </div>
    <div class="col-sm">
      <app-pedidos-en-cola></app-pedidos-en-cola>

      <div class="card my-3">
        <app-historial-pedidos></app-historial-pedidos>
      </div>

    </div>
    <div class="col-sm">
      <div class="card my-3">
        <app-recetas></app-recetas>
       </div>
    </div>

  </div>
</div>
