<div class="card-body">
  <h5 class="card-title text-center">Recetas</h5>
  <div *ngIf="dataRecetas.length == 0">
    <div class="alert alert-success mt-4" role="alert">
      No hay recetas disponibles
    </div>
  </div>
  <ol *ngIf="dataRecetas.length" class="mt-4">
    <li *ngFor="let receta of dataRecetas">
      {{ receta.receta }}
      <ul>
        <li *ngFor="let recetaIngrediente of receta.ingredientes">
          {{ recetaIngrediente.ingrediente }} - Cantidad Requerida: {{ recetaIngrediente.cantidad }}
        </li>
      </ul>
    </li>
  </ol>
</div>
